<html>
 <head>
 <title> Дамп базы данных </title>
  <link href="styles.css" rel="stylesheet">
  {% macro render_table(table_name, relation) %}
    <div>
        <center>
            <p>
                <b>{{table_name}} </b>
            </p>
        </center>
        {% set n = len(relation) %}
        <table class="table">
            <tr>
                {% for name in relation.dtypes.index %}
                <th>{{name}}</th>
                {% endfor %}
            </tr>
            <tbody>
            {% for i in range(n) %}
            <tr>
                {% for name in relation.dtypes.index %}
                <td> {{ relation.loc[i, name] }} </td>
                {% endfor %}
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% endmacro %}
 </head>
<body>
<div id="container">
 <div class="demo">
    <span>{{render_table(table_1, relation_1)}}</span>
    <span>{{render_table(table_2, relation_2)}}</span>
    <span>{{render_table(table_3, relation_3)}}</span>
    <span>{{render_table(table_4, relation_4)}}</span>
    <span>{{render_table(table_5, relation_5)}}</span>
 </div>
 <div class="demo">
    <span>{{render_table(table_6, relation_6)}}</span>
    <span>{{render_table(table_7, relation_7)}}</span>
 </div>
</div>
</body>
</html>
